@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 10mm;
  }
  table {
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-header-group;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-blue-100 m-0 p-0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}
.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.shadow-none {
  box-shadow: none !important;
}

.nav-item,
.navbar {
  z-index: 10000;
}

img {
  width: 100%;
  height: 100%;
}

.parent .item:first-child h1 {
  color: red;
}

.sidebar {
  width: 300px !important;
  /* z-index: 9; */
}

.content {
  width: calc(100% - 300px) !important;
}

@media (max-width: 1100px) {
  .sidebar {
    width: 250px !important;
  }
  .content {
    width: calc(100% - 250px) !important;
  }
}
@media (max-width: 991px) {
  .content {
    width: 100% !important;
  }
  .sidebar {
    width: 250px !important;
  }
}
